<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Remote LED</title>
	<style type="text/css">
	  iframe { border: none; }
	</style>
</head>
<body>
  <h1>LED Colour Changer Thing</h1>
  
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="400" height="320" id="utv547653"><param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=2160669"/><param name="allowfullscreen" value="true"/><param name="allowscriptaccess" value="always"/><param name="movie" value="http://www.ustream.tv/flash/live/1/2160669"/><embed flashvars="autoplay=true&amp;brand=embed&amp;cid=2160669" width="400" height="320" allowfullscreen="true" allowscriptaccess="always" id="utv547653" name="utv_n_115237" src="http://www.ustream.tv/flash/live/1/2160669" type="application/x-shockwave-flash" /></object>

<p>If there's no webcam up, it's because I'm not broadcasting. Tell me and I'll put it up so you can see :)</p>
<p>The LED will always be connected though, so feel free to freak me out by turning it on and off when I'm not expecting it.</p>
    
  <iframe src="/colour" width="500" height="100">
  </iframe>
  
  <hr />
  
  Powered by Python
  
</body>
</html>
